.wrapper {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #F6F8FA;
  justify-content: center;
  gap: 30px;
}

.wrapper > p {
  font-size: 18px;
  font-weight: 600;
  color: #333;
}

.login-form {
  width: 340px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
  background: white;
  padding: 30px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.login-form > .input-block {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.input-block > label {
  font-size: 14px;
  font-weight: 600;
  color: #333;
}

.input-block > input {
  width: 100%;
  height: 32px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  padding: 0 10px;
}

.login-form > button {
  background: #2ea44f;
  border: 0;
  border-radius: 4px;
  padding: 10px 15px;
  width: 100%;
  color: white;
  cursor: pointer;
  font-size: 14px;
  font-weight: 500;
  transition: opacity 400ms ease-out;
}

.login-form > button:hover {
  opacity: 90%;
}

.sign-up {
  padding: 10px 15px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background: transparent;
  border-radius: 4px;
  width: 340px;
  cursor: pointer;
  color: #666;
  transition: filter 400ms ease-out;
  text-decoration: none;
  font-size: 16px;
  text-align: center;
}

.sign-up:hover {
  filter: brightness(75%);
  border: 1px solid rgb(0, 0, 0, 0.2);
}

.error-modal {
  position: fixed;
  right: -100vw;
  top: 30px;
  background: #fb3333;
  padding: 10px;
  color: white;
  font-weight: 600;
  font-size: 14px;
  pointer-events: none;
}

.error-modal--active {
  animation: appear 5s;
  animation-fill-mode: forwards;
}

@keyframes appear {
  0% {
    right: -100%;
    opacity: 0;
  }
  10% {
    right: 0;
    opacity: 1;
  }
  80% {
    right: 0;
    opacity: 1;
  }
  100% {
    right: 100px;
    opacity: 0;
  }
}
