<style>
  .password {
    background: #eee;
    font-size: 18px;
    font-weight: 800;
    color: #333;
    padding: 10px;
    text-align: center;
    display: inline-block;
    margin: 0;
  }
</style>

<div>
  <p>Hello, {{username}}!</p>
  <p>Thanks for subscribe on the <strong>crypto-pass</strong> service!</p>
  <p>Here is your user password:</p>
  <p class="password">{{password}}</p>
</div>
